<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ViewMainServlet</servlet-name>
        <servlet-class>org.mypetstore.web.catalogServlets.ViewMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <servlet-class>org.mypetstore.web.catalogServlets.ViewCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>org.mypetstore.web.catalogServlets.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewItemServlet</servlet-name>
        <servlet-class>org.mypetstore.web.catalogServlets.ViewItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductsServlet</servlet-name>
        <servlet-class>org.mypetstore.web.catalogServlets.SearchProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>org.mypetstore.web.accountServlets.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>org.mypetstore.web.accountServlets.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountFormServlet</servlet-name>
        <servlet-class>org.mypetstore.web.accountServlets.EditAccountFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInFormServlet</servlet-name>
        <servlet-class>org.mypetstore.web.accountServlets.SignInFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <servlet-class>org.mypetstore.web.accountServlets.NewAccountFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAccountServlet</servlet-name>
        <servlet-class>org.mypetstore.web.accountServlets.SaveAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>org.mypetstore.web.cartServlets.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <servlet-class>org.mypetstore.web.cartServlets.RemoveItemFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
        <servlet-class>org.mypetstore.web.cartServlets.UpdateCartQuantitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>org.mypetstore.web.cartServlets.ViewCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewMainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <url-pattern>/viewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/viewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItemServlet</servlet-name>
        <url-pattern>/viewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductsServlet</servlet-name>
        <url-pattern>/searchProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountFormServlet</servlet-name>
        <url-pattern>/editAccountForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInFormServlet</servlet-name>
        <url-pattern>/signInForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <url-pattern>/newAccountForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAccountServlet</servlet-name>
        <url-pattern>/saveAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <url-pattern>/removeItemFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
        <url-pattern>/updateCartQuantities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>